<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br> -->
<h1 align="center">Welcome to Digital Book Application</h1>
<!-- <br>
<div class="container align-items-center justify-content-center">
    <div class="row">
        <button class="btn  col-2" routerLink='/createbook'>CreateBook</button>
    </div>
    <br>
    <!-- <div class="row">
        <button class="btn  col-2" routerLink="/login">Login</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/register">Register</button>
    </div>
    <br> -->
    <!-- <div class="row">
        <button class="btn  col-2" routerLink="/getBooks">BookList</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/buybooks">Buybooks</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/refund">Refund</button>
    </div>
</div>

</body>
</html> --> 