<!-- <p>refund works!</p> -->
<html>

  <body></body>

<div class="container">

  <div>

    <h2>Refund</h2>

    EmailId : <input type="text" name="Category" [(ngModel)]="emailId"><br><br>

    BookId  : <input type="text" name="Author" [(ngModel)]="bookId">

   

  </div>

  <button (click)=refund() class="btn btn-success">

    Login

  </button>

 

</div>

<!-- <app-searchbookresponse "ngFor=" let book of books" [category]="book"></app-searchbookresponse> -->

</html>

<!-- <app-searchbookresponse [dataNeeded]=books></app-searchbookresponse> -->