<div class ="container">
    <div class = "card">
        <h3 class="text-center"> Users List</h3>
        <div class = "card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th> User Name</th>
                    <th> Password</th>
                    <th> Email </th>
                </thead>
                <tbody>
                    <tr *ngFor = "let user of users">
                        <td> {{ user.aid}}</td>
                        <td> {{ user.username}}</td>
                        <td> {{ user.password}}</td>
                        <td> {{ user.AuthorEMailId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>